/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;


/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @text;
        background-color: @peach;
    }
}

@keyframes blink-critical {
    70% {
      color: @text;
    }

    to {
        color: @text;
        background-color: @red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "JetBrainsMono Nerd Font, JetBrainsMono NF, Cantarell, Noto Sans, sans-serif";
}

/* The whole bar */
#waybar {
    background: transparent;
    color: @text;
}

/* Each module */
/*#workspaces,*/
#custom-power,
#pulseaudio,
#network,
#memory,
#cpu,
#temperature,
#custom-keyboard-layout,
#battery,
#tray,
#clock
 {
    padding-left: 5px;
    padding-right: 5px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

.modules-right {
  padding-left: 5px;
  border-radius: 15px 0 0 15px;
  margin-top: 2px;
  background: @base;
  padding-left: 15px
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 15px 15px 15px 15px;
  background: @base;
}

.modules-left {
  border-radius: 0 15px 15px 0;
  margin-top: 2px;
  background: @base;
  padding-right: 15px
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @peach;
}

#battery.warning {
    background: @overlay1;
}

#battery.critical {
    background: @overlay1;
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    color: @lavender;
}

#cpu {
    color: @sapphire;
}

#cpu.warning {
    background: @overlay1;
}

#cpu.critical {
    background: @overlay1;
    color: @red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: @maroon;
}

#memory.warning {
    background: @overlay1;
}

#memory.critical {
    color: @red;
    background: @overlay1;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network {
    color: @mauve;
}

#network.disconnected {
    background: @overlay1;
}

#pulseaudio {
    color: @pink;
}

#pulseaudio.muted {
    background: @overlay1;
}

#temperature {
    color: @teal;
}

#temperature.critical {
    background: @overlay1;
    color: @red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

window#waybar.empty .modules-center {
  padding: 0;
  margin-top: 2px;
  border-radius: 0;
  background: transparent;
}

#custom-power {
    padding-left: 15px;
    padding-right: 15px;
    color: @red;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    color: @text;
}

#workspaces button.active{
    background-color: @surface0;
}

#workspaces button.urgent {
    color: @red;
}
