[Unit]
Description=tmux session for user

[Service]
Type=forking
WorkingDirectory=/home/schuler/
ExecStart=/usr/bin/tmux new-session -d
ExecStop=/usr/bin/tmux kill-session

[Install]
WantedBy=default.target
