[Desktop Entry]
Name=Mutt Trabalho
GenericName=Terminal email viewer
Icon=/usr/share/icons/Papirus-Dark/48x48/apps/mutt.svg
Comment=Check e-mail
Comment[pt_BR]=Veja seus email no terminal
TryExec=kitty sh -c "~/.config/mutt/scripts/emailtrabalho.sh"
Exec=kitty --title=Neomutt-Trabalho sh -c "~/.config/mutt/scripts/emailtrabalho.sh"
Terminal=false
Type=Application
Keywords=Email;ncurses;
StartupNotify=false
